<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200803710809-0cjv0ijh7tmbd481mmjg5qa03vemj8pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200803710809-0cjv0ijh7tmbd481mmjg5qa03vemj8pf</string>
	<key>API_KEY</key>
	<string>AIzaSyCwWReuv2OCIS85n-LuDO5wOD3w0Oz1mV8</string>
	<key>GCM_SENDER_ID</key>
	<string>200803710809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-720eb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-720eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200803710809:ios:57abfa06b1e44ed87dfe48</string>
</dict>
</plist>